**LIST**

In [1]:
departments= ['AI','blockchain','cloud','data science']
print(departments)

['AI', 'blockchain', 'cloud', 'data science']

In [2]:
print(len(departments))

4

In [3]:
list1 =['dept',32,5.6,True]
print(list1[2])

5.6

In [4]:
print(departments[-1])

data science

In [5]:
print(departments[1:4])

['blockchain', 'cloud', 'data science']

In [6]:
list1[2]= "sector"
print (list1)

['dept', 32, 'sector', True]

In [7]:
list1.insert(2, 'section')
print(list1)

['dept', 32, 'section', 'sector', True]

In [8]:
list1.append('visual')
print(list1)

['dept', 32, 'section', 'sector', True, 'visual']

In [9]:
list1.extend(departments)
print(list1)

['dept', 32, 'section', 'sector', True, 'visual', 'AI', 'blockchain', 'cloud', 'data science']

In [11]:
list2 = ['dept', 'section', 'sector', 'visual', 'AI', 'blockchain', 'cloud', 'data science']
list2.sort()
print(list2)

['AI', 'blockchain', 'cloud', 'data science', 'dept', 'section', 'sector', 'visual']

In [12]:
list2.sort(reverse= True)
print(list2)

['visual', 'sector', 'section', 'dept', 'data science', 'cloud', 'blockchain', 'AI']

In [15]:
print(type(list2))

<class 'list'>

**TUPLES**

In [13]:
T1 =('AI','blockchain','cloud','data science')
print(T1)

('AI', 'blockchain', 'cloud', 'data science')

In [14]:
tuple1 = ("apple",)
print(type(tuple1))

tuple2 = ("apple")
print(type(tuple2))

<class 'tuple'>
<class 'str'>

In [16]:
print(type(T1))

<class 'tuple'>

In [17]:
tup = (('dept', 32, 'section', 'sector', True, 'visual', 'AI', 'blockchain', 'cloud', 'data science'))
print(tup)

('dept', 32, 'section', 'sector', True, 'visual', 'AI', 'blockchain', 'cloud', 'data science')

In [19]:
x = ("abc", "bcd", "cef")
y = list(x)
y[1] = "xyz"
x = tuple(y)

print(x)

('abc', 'xyz', 'cef')

In [20]:
print(x[1])

xyz

In [23]:
things = ('chair', 'phone', 'keyboard')
thing1, thing2, thing3 = things

In [24]:
print(thing1)
print(thing2)
print(thing3)

chair
phone
keyboard

In [25]:
things01 = ('chair', 'phone', 'keyboard', 'charger', 'fan')
thing1, thing2, *thing3 = things

In [26]:
print(thing1)
print(thing2)
print(thing3)

chair
phone
['keyboard']

In [28]:
things01 = ('chair', 'phone', 'keyboard', 'charger', 'fan')
(thing1, thing2, *thing3) = things01
print(thing1)
print(thing2)
print(thing3)

chair
phone
['keyboard', 'charger', 'fan']

**SETS**

In [29]:
set1 = {"done", "dept", "duty", "change", "bottle", True, 101, 25}

print(set1)

{'duty', True, 'dept', 101, 'change', 'bottle', 'done', 25}

In [30]:
set2 = {"add", "buy", "catch"}

set2.add("drain")

print(set2)

{'add', 'drain', 'catch', 'buy'}

In [36]:
set1.update(set2)
print(set1)

{'duty', True, 'dept', 'change', 'drain', 'add', 'bottle', 'done', 'catch', 'buy', 25}

In [37]:
set1.remove(25)
print(set1)

{'duty', True, 'dept', 'change', 'drain', 'add', 'bottle', 'done', 'catch', 'buy'}

In [38]:
set1.clear()
print(set1)

set()

**DICTIONARY**

In [41]:
dict0 = { "Name": "Jaya Swedhaa",
          "Year": 2002,
          "Age": 21}

print(dict0)

{'Name': 'Jaya Swedhaa', 'Year': 2002, 'Age': 21}

In [42]:
dict0 = { "Name": "Jaya Swedhaa",
          "Year": 2002,
          "Age": 21,
          "Year": 2024}

print(dict0)

{'Name': 'Jaya Swedhaa', 'Year': 2024, 'Age': 21}

In [43]:
X= dict0.get("Name")
print(X)

Jaya Swedhaa

In [44]:
x = dict0.keys()
print(x)

dict_keys(['Name', 'Year', 'Age'])

In [45]:
y=dict0.values()
print(y)

dict_values(['Jaya Swedhaa', 2024, 21])

In [46]:
dict0['Year']=2002
print(dict0)

{'Name': 'Jaya Swedhaa', 'Year': 2002, 'Age': 21}

In [47]:
dict1={'Name': 'Jaya Swedhaa', 'Year': 2002, 'Age': 21}
dict1.values()
print(dict1)
dict1['Year']=2024
print(dict1)

{'Name': 'Jaya Swedhaa', 'Year': 2002, 'Age': 21}
{'Name': 'Jaya Swedhaa', 'Year': 2024, 'Age': 21}

In [49]:
girls={
    "Thamarai":{"Age":20,
              "Year":2003},
    "Jaya": {"Age":21,
           "Year":2002}
}
print(girls)

{'Thamarai': {'Age': 20, 'Year': 2003}, 'Jaya': {'Age': 21, 'Year': 2002}}