**FUNCTIONS**

In [ ]:
# function with arguments

def func(name, initial):
  print(name+" "+initial)
func("Jaya","R S")

Jaya R S

In [ ]:
def fruits(*fruits):
  print(" I would like to have "+ fruits[5])
fruits("apple","banana","kiwi","jack","orange","mango")

 I would like to have mango

In [ ]:
def fruitss (fruit1, fruit5, fruit4, fruit0, fruit3, fruit2 ):
  print(" I would like to have "+fruit2)
fruitss(fruit0="apple",fruit1="banana", fruit2="kiwi",fruit3="jack",fruit4="orange",fruit5="mango")

In [ ]:
def func1(x):
  return 5*x
print(func1(6))
print(func1(9))

30
45

In [ ]:
def func1():
  pass

In [ ]:
#positional and keyword

def func2(x,y, /, *,w,z):
  print(x+y*w/z)
func2(3,9,w=2,z=5)

6.6

In [ ]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [ ]:
def recur(x):
  if(x<10):
    print(x+ recur(x-1))
  else:
    print(0)
print("results are")
recur(11)

results are
0

In [11]:
def area(name):
  name=name.lower()

  if name=="square":
    s=5
    a=s*s
    print(f"the area of square is {a}.")

  elif name=="triangle":
    b=20
    h=10
    v=0.5*b*h
    print(f"the area of trinagle is {v}.")

  else:
    print("This shape is not available")

if __name__=='__main__':
  shape_name=input("enter the shape name: ")
  area(shape_name)

enter the shape name: triangle
the area of trinagle is 100.0.

# **OOPS**

**CLASS AND OBJECT**

In [ ]:
class mydetail:
  def __init__(self, name, age):
    self.name = name
    self.age = age
p1=mydetail("Jaya Swedhaa",21)
print(p1.name)
print(p1.age)

Jaya Swedhaa
21

In [ ]:
class mydetail:

  def __init__(self, name, age):
    self.name = name
    self.age = age

  def func(self):
    print("hello "+ self.name)

p1=mydetail("Jaya Swedhaa",21)
#p1.age=22
#p1.func()
#del p1.age
print(p1.age)

21

In [ ]:
class mydetail:
  def func(abc):
    print("hello "+ abc.name)
p1.func()

hello Jaya Swedhaa

**INHERITANCE**

In [ ]:
class detail:
  def __init__(self,fname,lname):
    self.fname = fname
    self.lname = lname

  def printname(self):
    print(self.fname, self.lname)

x=detail("Jaya Swedhaa","R S")
x.printname()

Jaya Swedhaa R S

In [ ]:
class person(detail):
  pass

x= person("Jaya","Swedhaa")
x.printname()

Jaya Swedhaa

In [ ]:
class person(detail):
  def __init__(self,fname,lname):
    detail.__init__(self,fname,lname)
x= person("Jaya","Swedhaa")
x.printname()

Jaya Swedhaa

In [ ]:
class detail:
  def __init__(self,fname,lname):
    self.fname = fname
    self.lname = lname

  def name(self):
    print(self.fname, self.lname)

class person(detail):
  def __init__(self,fname,lname,year):
    super().__init__(fname,lname)
    self.graduationyear=year

  def year(self):
    print(self.graduationyear)

x= person("Jaya","Swedhaa",2024)
x.name()
x.year()

Jaya Swedhaa
2024

**POLYMORPHISM**

In [ ]:
class pet:
  def __init__(self, child, sound):
    self.child=child
    self.sound=sound

class dog(pet):
  def petname(self):
    print("Doggy")

class cat(pet):
  def petname(self):
    print("katt")

dog1=dog("puppy","bark")
cat1=cat("kitten", "meow")

for x in (dog1,cat1):
  x.petname()

Doggy
katt

In [ ]:
for y in (dog1,cat1):
  print(y.child)
  print(y.sound)

puppy
bark
kitten
meow

**ITERATOR**

In [ ]:
class MyNumbers:
  def __iter__(self):
    self.a=1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

In [ ]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 10:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10

**CREATING A** **MODULE**

In [1]:
%%writefile app.py

def appli():
  print("JS WORLD")

location="Chennai"

Writing app.py

In [2]:
import app
app.appli()
print(app.location)

JS WORLD
Chennai